$darkpurple: rgb(127, 83, 145);
$lightpurple: #AD81BF;
$lightblue: #537791;
$darkblue: #234762;

$breakpoint-tablet: 991px;

@mixin screen-max($px) {
	@media (max-width: $px) {
		@content
	}
}

;

@mixin screen-range($max, $min) {
	@media (max-width: $max) and (min-width: $min) {
		@content
	}
}

;



@mixin defaultTransition($property) {
	-webkit-transition: $property .2s ease-in-out;
	-moz-transition: $property .2s ease-in-out;
	-ms-transition: $property .2s ease-in-out;
	-o-transition: $property .2s ease-in-out;
	transition: $property .2s ease-in-out;
}

body {
	overflow-x: hidden;
}

h1 {
	@include screen-max($breakpoint-tablet) {
		font-size: 1.5rem;
	}
}

h2 {
	@include screen-max($breakpoint-tablet) {
		font-size: 1rem;
	}
}


// Front Page Header
.twd-front-page-header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 25vh;
	background-image: linear-gradient(140deg, $lightblue 0%, $darkblue 97%);
	text-align: center;
	color: white;
}

// Navigation
nav {

	#main-menu li {
		margin: 0 .7rem;
	}

	a {
		color: $darkpurple;
		font-weight: 500;

		&:hover {
			color: $lightblue;
		}
	}
}

#main-nav {
	background-color: #fff;
}

#main-menu li:last-child a {
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
	background-color: $lightblue;
	border-radius: 3px;
	@include defaultTransition(background-color);

	&:hover {
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
		background-color: $darkpurple;
		@include defaultTransition(background-color);
	}
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(127, 83, 145, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


// Content
.col-md.content-area {
	padding: 0;
}

.row {
	margin: 0;
}

.wrapper#page-wrapper,
.wrapper#index-wrapper,
.wrapper#single-wrapper {
	padding-top: 0;
}

.wrapper#wrapper-hero {
	background-color: $darkpurple;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.site-main.twd-posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

// front page latest posts

.twd-latest-posts {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;

	h3 {
		text-align: center;
		margin-top: 1rem;
		color: $darkpurple;
	}
}

// front page about

.twd-about {
	width: 100vw;
	background: $darkpurple;
	min-height: 700px;

	@include screen-range(991px, 490px) {
		min-height: 1000px;
	}

	.container {
		height: 90vh;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateY(2rem);

		section h2 {
			color: white;
			margin-bottom: 2rem;
		}

		@include screen-range(991px, 490px) {
			transform: translateY(2rem);
		}

		@include screen-max($breakpoint-tablet) {
			flex-direction: column;
			justify-content: center;
			transform: translateY(0rem);

			section {
				margin: 2rem 0;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			section h2 {
				font-size: 2rem;
				text-align: center;
			}
		}
	}

	.about.btn-primary {
		background-color: $darkblue;
		border: 1px solid $darkblue;
	}

	.profile-pic img {
		border-radius: 50%;
	}


}

// front page services
.twd-services {
	margin-top: 13vw;

	h3 {
		text-align: center;
		color: $darkpurple;
	}

	.services {
		display: flex;
		justify-content: space-around;

		@include screen-max($breakpoint-tablet) {
			flex-direction: column;
			justify-content: center;
		}
	}
}

.nav-links {
	max-width: 850px;
	margin: 0 auto;
}

.twd-posts-index-header,
.entry-header.single {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(140deg, $darkblue 0%, $lightblue 97%);
	color: white;
	height: 200px;
	margin-bottom: 3rem;
	text-align: center;
}

.entry-title {
	text-align: center;
	min-height: 56px;
}

.wp-post-image {
	max-height: 315px;
	object-fit: cover;
}

.entry-meta a {
	color: whitesmoke;
}

.entry-content {
	max-width: 850px;
	margin: 3rem auto;
	padding: 0 1rem;
}

.nav-previous {
	flex-grow: 1;
}

.twd-single-post-container {
	max-width: 850px;
	margin: 0 auto;
	text-align: center;

}

.twdcard {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	padding: 2rem 2rem 0 2rem;
	border-radius: 5px;
	box-shadow: 2px 4px 10px 0px rgba(159, 103, 183, .25);
	margin: 2rem 2rem 1rem 2rem;

	.entry-header,
	.entry-content {
		margin: 1rem 0;
	}

	.entry-content p {
		margin: 2rem 0;
	}

	h2 {
		font-size: 1.5rem !important;

		a {
			color: $lightblue;
		}
	}

	.understrap-read-more-link-wrapper {
		display: flex;
		justify-content: center;

		a {
			background: $darkpurple;
			transition: background-color .2s ease-in-out;

			&:hover {
				background: $lightblue;
				transition: background-color .2s ease-in-out;
			}
		}
	}
}

// Custom Dividers

.divider.triangle {
	position: absolute;
	overflow: hidden;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-top: 9vw solid white;
}

.divider.triangle.purple {
	position: absolute;
	overflow: hidden;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-top: 9vw solid $darkpurple;
}

.divider.triangle.blue {
	position: absolute;
	overflow: hidden;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-top: 9vw solid $darkblue;
}



// footer

#wrapper-footer,
#wrapper-footer-full {
	background-image: linear-gradient(90deg, $darkblue 0%, $lightblue 97%);
	color: white;
}

h3.widget-title {
	font-size: 1.3rem;
}

#menu-navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;

	li {
		margin: 1rem;

		a {
			color: white;
		}

	}
}

.textwidget.custom-html-widget {
	height: 100%;
}

.twd-copyright {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;

	@include screen-max(767px) {
		margin-bottom: 3rem;
	}
}

.twd-social-links {
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 50%;
	min-width: 260px;
	padding: 0;
}


@media screen and (max-width: 991px) {


	.site-main.twd-posts {
		flex-direction: column;
		align-items: center;
	}

	.twd-posts-index-header,
	.entry-header.single {
		height: 100px;
	}

	.twd-latest-posts {
		flex-direction: column;
		align-items: center;
	}


}
